.about-heading {  
  display:flex;
  justify-content:space-between;

  @media (min-width: 360px) and (max-width: 991px) {
    .about-large-heading-img img {
      visibility: hidden;
      position: absolute;
    }
    .about-heading-content {
      position: relative;
    }
    .about-content {
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .about-large-heading-img {
      position:relative;
      object-fit: fill;
    }
    .about-heading-content {
      top: 453px;
      left: 0;
      position: absolute;
    }
    .content {
      max-height: 1215px;
      overflow: auto;
    }
    .about-content {
      h2 {
        line-height: 2.25;
      }
      p {
        line-height: 3;
      }
      li {
        line-height: 3;
      }
    }
  }
  @media (min-width: 1200px) and (max-width: 1415px) {
    .about-large-heading-img {
      padding: 0;
      position: relative;
    }
    .about-large-heading-img img {
      position: relative;
      object-fit: fill;
    }
    .about-heading-content {
      top: 453px;
      left: 0;
      width: 100%;
      position: absolute;
    }
    .content {
      max-height: 1450px;
      overflow: auto;
    }
    .about-content {
      h2 {
        line-height: 2.25;
      }
      p {
        line-height: 3;
      }
      li {
        line-height: 3;
      }
    }
  }
  @media (min-width: 1416px) {
    .about-large-heading-img {
      padding:0;
      position:relative;
    }
    .about-large-heading-img img {
      position:relative;
      object-fit: fill;
    }
    .about-heading-content {
      top: 453px;
      left: 0;
      width: 100%;
      position: absolute;
    }
    .content {
      max-height: 1450px;
      overflow: auto;
    }
    .about-content {
      h2 {
        line-height: 2.25;
      }
      p {
        line-height: 3;
      }
      li {
        line-height: 3;
      }
    }
  }
}